# Code Owners for Liora WhatsApp Bot
# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.

# Default owners
* @naruyaizumi

/.github/ @naruyaizumi

/src/ @naruyaizumi

package.json @naruyaizumi

*.md @naruyaizumi

README.md @naruyaizumi

*.sh @naruyaizumi

install.sh @naruyaizumi