version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "08:00"
      timezone: "Asia/Jakarta"
    open-pull-requests-limit: 10
    reviewers:
      - "naruyaizumi"
    assignees:
      - "naruyaizumi"
    labels:
      - "dependencies"
      - "automated"
    commit-message:
      prefix: "chore(deps)"
      include: "scope"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
    groups:
      canvas:
        patterns: ["@napi-rs/canvas"]
        update-types: ["minor", "patch"]
      
      baileys:
        patterns: ["baileys"]
        update-types: ["minor", "patch"]
      
      sqlite:
        patterns: ["better-sqlite3"]
        update-types: ["minor", "patch"]
      
      file-processing:
        patterns: ["sharp", "file-type"]
        update-types: ["minor", "patch"]
      
      async-utils:
        patterns: ["async-mutex", "p-queue", "eventemitter3"]
        update-types: ["minor", "patch"]
      
      logging:
        patterns: ["pino", "pino-pretty"]
        update-types: ["minor", "patch"]
      
      file-watcher:
        patterns: ["chokidar"]
        update-types: ["minor", "patch"]
      
      youtube:
        patterns: ["yt-search"]
        update-types: ["minor", "patch"]
      
      eslint:
        patterns: ["eslint*", "@eslint/*"]
        update-types: ["minor", "patch"]
      
      prettier:
        patterns: ["prettier"]
        update-types: ["minor", "patch"]
      
      native-addons:
        patterns: ["node-addon-api", "node-gyp"]
        update-types: ["minor", "patch"]
      
      globals:
        patterns: ["globals"]
        update-types: ["minor", "patch"]

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "11:00"
      timezone: "Asia/Jakarta"
    open-pull-requests-limit: 5
    reviewers:
      - "naruyaizumi"
    labels:
      - "dependencies"
      - "ci-cd"
      - "automated"
    commit-message:
      prefix: "chore(ci)"
      include: "scope"
    groups:
      actions:
        patterns:
          - "actions/*"
          - "github/*"