version: 2
updates:
    - package-ecosystem: "npm"
      directory: "/"
      schedule:
          interval: "weekly"
          day: "monday"
          time: "08:00"
          timezone: "Asia/Jakarta"
      open-pull-requests-limit: 10
      reviewers:
          - "naruyaizumi"
      assignees:
          - "naruyaizumi"
      labels:
          - "dependencies"
          - "automated"
          - "security"
      commit-message:
          prefix: "chore(deps)"
          include: "scope"
      groups:
          baileys:
              patterns: ["baileys"]
          core-deps:
              patterns: ["@msgpack/msgpack", "async-mutex", "eventemitter3", "p-queue"]
      ignore:
          - dependency-name: "*"
            update-types: ["version-update:semver-major"]
          - dependency-name: "baileys"
            versions: ["> 0.0.0"]

    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "weekly"
          day: "monday"
          time: "11:00"
          timezone: "Asia/Jakarta"
      open-pull-requests-limit: 5
      reviewers:
          - "naruyaizumi"
      labels:
          - "dependencies"
          - "ci-cd"
          - "automated"
          - "security"
      commit-message:
          prefix: "chore(ci)"
          include: "scope"

security-updates:
    enable: true
