# -------------------------
# DEPENDENCIES & BUILD
# -------------------------
node_modules/
.cache/
.tmp/
bun.lock

# -------------------------
# DATABASE / DATA FILES
# -------------------------
database.db
auth.db
store.db
*.db
database/

# -------------------------
# LOGS & DEBUG
# -------------------------
logs/
*.log

# -------------------------
# MISC
# -------------------------
*.tgz
*.gz
*.zip
*.tar

# -------------------------
# TOOLS / BINARIES
# -------------------------
*.jar
bfg.jar