smol = true
logLevel = "error"

[console]
depth = 5
[loader]
".js" = "js"

[install]
production = true
saveTextLockfile = true
auto = "auto"

[install.cache]
disable = true
disableManifest = true

[run]
bun = true