name: ESLint

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install native dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            ffmpeg \
            libwebp-dev \
            libavformat-dev \
            libavcodec-dev \
            libavutil-dev \
            libswresample-dev \
            libswscale-dev \
            libavfilter-dev \
            build-essential \
            python3 \
            g++ \
            pkg-config \
            cmake

      - name: Install Dependencies
        run: bun install --no-save
        
      - name: Run ESLint
        run: bunx eslint .